* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 80vw;
  border-style: solid;
  min-height: 78vh;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  background-color: lightgray;
}

Form {
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.form {
  padding: .5rem;
  background-color: beige;
}

.submit-button {
  padding: .5rem;
  background-color: bisque;
}

li {
  list-style-type: none;
}

.completed{
  text-decoration: line-through;
}
